.chats-container{
    background-color: #584c6b;
    border-right: 2px solid #160f3c;
    height: 100%;
}
.chat-element{
    border-top: 2px solid #160f3c;
    border-bottom: 2px solid #160f3c;
    display: flex;
    height: 6em;
}
.chat-element-own{
    border-top: 2px solid #160f3c;
    border-bottom: 2px solid #160f3c;
    display: flex;
    height: 6em;
    background-color: crimson;
}
.chat-img-container{
    height: 100%;
    width: fit-content;
}
.chat-text-container{
    width: auto;
}
.chat-title-container{
    height: fit-content;
    border-bottom: 2px solid #160f3c;
}
.chat-img{
    object-fit: contain;
    height: 100%;
    width: auto;
}