@import '../../styles/variables.scss';

.chatSelected{
    background-color: var(--selected);
}

.chatImg{
    object-fit: contain;
    height: 100%;
    width: auto;
}

.chatsContainer {
    height: 100%;
    background-color: var(--accentBackground);
    padding: 10px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.noChats {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);
}

.chatElement{
    display: flex;
    height: 6em;
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    
    .chatImgContainer{
        height: 100%;
        width: fit-content;
        margin-right: 10px;
    }

    .chatTextContainer{
        width: 100%;
        padding: 10px 5px;
    }
    
    .chatTitleContainer{
        height: fit-content;
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--textColor);
        font-weight: 500;
    }

    .chatLastmessageContainer {
        color: var(--darkTextColor);
        
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }
}

.chatElement:not(:last-child) {
    border-bottom: 1px solid var(--buttonBackground);
    padding-bottom: 15px;
    margin-bottom: 10px;
}