// $blocksBackground: #2d2d2d; 
// $formsBackground: #303030; 
// $accentBackground: #494949; 
// $accentHover: #606060; 
// $pageBackground: #1e1e1e;

// $darkTextColor: #a3a3a3;
// $textColor: #cccccc; 
// $mainTextColor: #f5f5f5; 
// $accentTextColor: #ffffff;

// $buttonBackground: #646464;
// $buttonHoverBackground: #141414; 
// $selectBackground: #414141; 

// $placeholderColor: #909090;


:root {
    --blocksBackground: #2d2d2d;
    --blocksBorder: #2d2d2d;
    --formsBackground: #303030; 
    --formsBorder: #303030; 
    --accentBackground: #494949; 
    --accentHover: #606060; 
    --pageBackground: #1e1e1e;
    --messageBackground: #646464;
    --selected: #1966b3;

    --darkTextColor: #a3a3a3;
    --textColor: #cccccc; 
    --mainTextColor: #f5f5f5; 
    --accentTextColor: #ffffff;

    --buttonBackground: #646464;
    --buttonHoverBackground: #141414; 
    --selectBackground: #414141; 
    
    --placeholderColor: #909090;
}

[theme="dark"] {
    --blocksBackground: #2d2d2d;
    --blocksBorder: #2d2d2d;
    --formsBackground: #303030; 
    --formsBorder: #303030; 
    --accentBackground: #494949; 
    --accentHover: #606060; 
    --pageBackground: #1e1e1e;
    --messageBackground: #646464;
    --selected: #1966b3;

    --darkTextColor: #a3a3a3;
    --textColor: #cccccc; 
    --mainTextColor: #f5f5f5; 
    --accentTextColor: #ffffff;

    --buttonBackground: #646464;
    --buttonHoverBackground: #141414; 
    --selectBackground: #414141; 

    --placeholderColor: #909090;
}

[theme="light"] {
    --blocksBackground: #f0f0f0;
    --blocksBorder: black;
    --formsBackground: #fafafa;
    --formsBorder: #a0a0a0; 
    --accentBackground: #e5e5e5; 
    --accentHover: #cccccc; 
    --pageBackground: #ffffff;
    --messageBackground: #bbbbbb;
    --selected: #6db0e4;

    --darkTextColor: #555555;
    --textColor: #141414; 
    --mainTextColor: black; 
    --accentTextColor: black;

    --buttonBackground: #808080;
    --buttonHoverBackground: #eeeeee; 
    --selectBackground: #cccccc; 
    
    --placeholderColor: #484848;
}
