@import 'src/styles/variables.scss';

.book {
    width: 100%;
    height: 100%;
    border: 1px solid #414141;
    border-radius: 3px;
    padding: 10px;
    background: #303030;
    cursor: pointer;

    .image {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        img {
            max-height: 250px;
            max-width: 100%;
        }
    }

    .name {
        font-weight: 500;
        font-size: 24px;
        color: #f5f5f5;
        margin-bottom: 5px;
        padding: 0 10px;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description {
        color: #cccccc;
        padding: 0 10px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }

    &:hover {
        background: #494949;
    }
}