@import 'src/styles/variables.scss';

.book {
    width: 100%;
    height: 100%;
    border: 1px solid var(--selectBackground);
    border-radius: 3px;
    padding: 10px;
    background: var(--formsBackground);
    cursor: pointer;
    position: relative;

    .image {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        img {
            max-height: 250px;
            max-width: 100%;
        }
    }

    .name {
        font-weight: 500;
        font-size: 24px;
        color: var(--mainTextColor);
        margin-bottom: 5px;
        padding: 0 10px;
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description {
        color: var(--textColor);
        padding: 0 10px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }

    &:hover {
        background: var(--accentBackground);
    }
}

.toChat {
    position: absolute;
    font-size: 12px;
    left: calc(100% - 60px);
    text-decoration: underline;
    color: var(--darkTextColor);
    
    &:hover {
        text-decoration: none;
    }
}