<div class="header">
    <div class="left-part">
        <div class="icon-block">
            <a routerLink="/">
                <img src="/angular/assets/images/logo.png" />
            </a>
        </div>

        <div class="menu">
            <div class="menu-item active">Library</div>
            <div class="menu-item" (click)="toChat()">Chat</div>
        </div>
    </div>

    <div class="user-data">
        <p class="userName" (click)="toUserProfile()">{{ getUserName() }}</p>
        <img src="{{ userLogoLink }}" width="40px" height="40px" (click)="toUserProfile()">
        <p class="logout" (click)="logout()">Exit</p>
    </div>
</div>
